header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   padding-top: 1rem;
   background-image: linear-gradient( to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
footer{
   justify-content: center;
   height: 4rem;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));   
}