<div class="container">
<div class="body">
<h1>Simon MUturi</h1>
<p> simon muturi is recent graduate with a bachelors degree in Information Technology </p>
<p>He is also a Fullstack Developer using Angular for the frontend and nodejs for the Backend</p>
<p>He was recently certified by The JITU as a software developer after pertaking a 3months <br>
    long training on software deveper where he had the cahnce to leran skills like:</p>
<ul>
    <li>Angular framework</li>
    <li>Node js</li>
    <li>SQL</li>
    <li>Working with Docker</li>
    <li>CI/CD</li>
    <li>Typescript</li>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Working with APIs</li>
    <li>Using Trello</li>
</ul>
<p>Through his carrer Simon has acquired skill on other feilds and technologies like:</p>
<ul>
    <li>Python</li>
    <li>Java </li>
    <li>C programming</li>
    <li>Kotlin</li>
    <li>Flutter</li>
    <li>Firebase Database </li>
    <li>Working with sequential and non-sequential databases</li>
    <li>Using linux Systems</li>
    <li>Payment Intergration using Daraja API</li>
    <li>using version controls like Github</li>
    <li>UI/UX Design</li>
    <li>Graphic Design</li>
    <li>Web design</li>
    <li>Mobile application design and development</li>
    <li>Working with Goegraphic Systems like ARC GIS</li>

</ul>
<p>Apart form the technical skill, simon is also:</p>
<ol>
    <li>A good team player</li>
    <li>A team leader</li>
    <li>A confident Young man</li>
    <li>Charming and intelligent</li>
    <li>Good in communication </li>
    <li>Innovative</li>
    <li>Organised </li>
    <li>Fast learner</li>
    <li>Innovative</li>
    <li>Commited to making a positive change in the world</li>
    <li>Aggressive to opportunities</li>
</ol>
<p>On his free time simon love watching rugby and car show <br> because he a car enthusiast and his favourite car being the "Godzilla" </p>
</div>
</div>