.body {
    width: 80%;
    margin: auto;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container {
    background-image:url(https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}