<h1>Simon MUturi</h1>
<p> simon muturi is recent graduate with a bachelors degree in Information Technology </p>
<p>He is also a Fullstack Developer using Angular for the frontend and nodejs for the Backend</p>
<p>He was recently certified by The JITU as a software developer after pertaking a 3months <br>
    long training on software deveper where he had the cahnce to leran skills like:</p>
    <ul>
    <li>Angular framework</li>
    <li>Node js</li>
    <li>SQL</li>
    <li>Working with Docker</li>
    <li>CI/CD</li>
     <li>Typescript</li>
     <li>Javascript</li>
     <li>HTML</li>
     <li>CSS</li>
      </ul>
    <p>Through his carrer Simon has acquired skill on other feilds and languages like:</p>
    <ul>
        <li>Python</li>
        <li>Java </li>
        <li>C programming</li>
        <li>Kotlin</li>
        <li>Flutter</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>